@{
    Layout = null;
}

<form asp-controller="Account" asp-action="GoogleLogin" method="POST" class="form-horizontal" style="text-align: center; display: inline-block;">
    <button type="submit" class="bg-gradient-to-br py-3 rounded-md text-xl to-red-400 w-full" style="padding: 0 30px; width: 230px; background-color: white">Login with Google</button>

</form>
